<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuGC6P1-DCCcSb8bdl2Y0ZBSbbvvUw99M</string>
	<key>GCM_SENDER_ID</key>
	<string>628333743257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hobbyHubApp</string>
	<key>PROJECT_ID</key>
	<string>hobby-hub-13284</string>
	<key>STORAGE_BUCKET</key>
	<string>hobby-hub-13284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628333743257:ios:373e15f8a22d4e2bcc7c08</string>
</dict>
</plist>